.Breadscrumb{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Breadscrumb .left{
    display: flex;
}
.Breadscrumb .left .main-title{
    color: var(--bs-heading-color);
    font-size: 2rem;
    border-right: 1.5px solid;
    border-color: var(--bs-border-color);
    padding: .4rem 0;
    padding-right: 1.8rem;
    font-weight: 400;
}
.Breadscrumb .left .sub-title{
    display: flex;
    align-items: center;
    padding-left: 1.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;
}
.Breadscrumb .right .dropdown .btn.btn-primary{
    font-size: 1.7rem;
    padding: .6rem 1.4rem;
}

.cardBox{
    background-color: #060B28;
    background-image: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
    border-radius: 1.6rem;
    padding: 1.8rem;
}

.ButtonLinear{
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
    border-radius: 2rem;
    color: var(--white);
    padding: 1rem 2.4rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
}
.martop{
    margin-top: 2.4rem;
}

.input-container{
    display: flex;
    column-gap: 2%;
    row-gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.inputFieldBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.inputFieldBox .inputLabel,
.p-column-title{
    color: var(--bs-body-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.inputFieldBox input,
.inputFieldBox select,
.p-column-filter.p-inputtext {
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.btns{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
tbody, td, tfoot, th, thead, tr{
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--bs-body-color);
    background-color: transparent;
}
.p-datatable .p-paginator-bottom {
    background-color: transparent;
    border: none;
}
.p-column-header-content,
.p-column-filter{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.p-paginator-page,
.p-dropdown,
.p-paginator-element,
.p-dropdown-label,
.p-inputtext{
    font-size: 1.4rem;
}
.p-dropdown{
    background-color: transparent;
    padding: 2px;
}

.cardBox.half{
    width: 50%;
    margin: 2rem auto;
}
.Withdrawal .heading,
.MemberTopup .heading{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.cardBox.half   .input-container .inputFieldBox{
    width: 100%;
}
.cardBox.half .ButtonLinear{
    width: 50%;
    padding: 2rem;
}

.WithdrawalReport .top-wrapper{
    display: flex;
    column-gap: 2%;
    row-gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}
.WithdrawalReport .top-wrapper .cardBox{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}
.WithdrawalReport .top-wrapper .cardBox .txt .heading{
    font-size: 2rem;
}
.WithdrawalReport .top-wrapper .cardBox .txt .para1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.4rem;
}

@media screen and (max-width: 768px) {
    .Breadscrumb .right .dropdown .btn.btn-primary {
        font-size: 1.5rem;
        padding: .6rem 1rem;
    }
    .p-datatable-table th{
        min-width: 15rem;
    }
    
    .cardBox.half{
        width: 100%;
        margin-top: 4rem;
    }
    .WithdrawalReport .top-wrapper .cardBox{
        width: 100%;
    }
}